<h1>All posts</h1>

  <% @posts.each do |p| %>

    <a href="posts/<%=p.id%>">
      <h4><%= p.caption %></h4>
        </a>

     <br>
    <%= image_tag(p.photo.thumb.url || "/asdkubakdjb") %><br>
  <% end %>
